.left,
.right {
    margin: 20;
    padding-right: 100px;
    text-align: left;
    height: max-content;
}

.bottom-img img {
    border: none;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #444444;
    margin-left: 75px;
}