.left, .right {
    padding: 10px;
    margin-left: 100px;
    text-align: left;
    width: 500px;
    height: max-content;
}
.left h2, .left p {
    margin-left: -270px;
    margin-top: 20px;
}
.right h2, .right p {
    margin-left: -50px;
    margin-top: 20px;
}
.bottom-img img {
    border: solid;
    border-color: #eeeeee;
    margin-left: 70px;
}