h1 {
    margin: 30px 0px 50px 0px;
}

.left {
    margin: 20;
    padding-right: 100px;
    text-align: left;
    height: max-content;
    width: 60%;
}

.perfmotivation,
.conslusion {
    margin: 50px 0px;
}