.company {
    border: 3px solid #444444;
    background-color: #dddddd;
    margin: 0px 75px 25px 75px;
    text-align: left;
    max-width: 65%;
}

#emptycolinside {
    border: none;
    background-color: #dddddd;
}

#emptycoloutside {
    border: none;
    background-color: #eeeeee;
}

.picture {
    width: 50%;
    display: flex;
}

.logo {
    width: 25%;
    display: flex;
}

.jobs {
    display: flex;
}

.work {
    display: flex;
}